/* Write your CSS here */
.money-details-container {
  display: flex;
  /* flex-direction: column; */
}
@media screen and (max-width: 768px) {
  .money-details-container {
    display: flex;
    flex-direction: column;
  }
}
.image {
  height: 50px;
  width: 70px;
  margin-top: 12px;
}
.balance-details-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 50%;
  border-radius: 12px;
  margin-bottom: 13px;
  margin-top: 13px;
  margin-left: 12px;
  margin-right: 12px;
}

.balance {
  background-color: #ecfccb;
}
.income {
  background-color: #cffafe;
}
.expense {
  background-color: #ede9fe;
}
